body {
  margin: 0;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #40E0D0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#box {
 background-color: rgba(255, 255, 255, 0.308);
 border-radius: 20px;
 margin-top: 15%;
 padding: 20px;
 width: 300px;
}

button {
  color: white;
  background-color: rgb(255, 0, 64);
  border: 3px solid rgb(255, 0, 64);
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  width: 40px;
}

button:hover {
  color:rgb(255, 0, 64);
  background-color: white;
  border: 3px solid rgb(255, 0, 64);
}

input {
  height: 30px;
  width: 80%;
}

input:hover {
  border: 1px solid rgb(255, 0, 64);
}

input:focus{
  border: 2px solid rgb(255, 0, 64);
}

p {
  color: rgb(44, 44, 44);
}





